name: Push Workflow

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:

#Validate incoming HTML
  validate-static-site:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: List project files
        run: ls -R

      - name: Install HTMLHint
        run: npm install -g htmlhint

      - name: Validate HTML
        run: htmlhint "**/*.html"

      - name: Check large files
        run: |
          echo "Scanning for files larger than 5MB..."
          find . -type f -size +5M || true



